*{
    margin:0;
    padding:0;
}
.front-bg {
    background: url('../Images/coffee.jpg') center no-repeat fixed;
    background-size:cover;
    min-height: 500px;
    width: 100%;
}
.products {
    /*background-color: ccccc*/
    min-height: 500px;
    width: 100%;
}
.card-2{
    display:none;
}
.subscribtion {
    min-height: 200px;
    background-color: #3e3d3d;
    width:100%;
}
